
.sidenav-style >>> .mat-sidenav-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.style-avatar {
  height: 72px;
  border-radius: 1.8rem;
}

.menu-username {
  display: flex;
  h2 {
    margin-left: 10px;
  }
}

.menu-header {
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid #b0b0b0;
}

.mask-btn {
  display: flex;
}


.btn-size {
  width: 40px;
  height: 40px;
}

