<mat-sidenav-container fullscreen class="sidenav-style">
  <mat-sidenav #menu>
    <div class="menu-header">
      <div class="center-input menu-username">
        <img class="margin-right style-avatar" *ngIf="utilisateurCourant" [src]="utilisateurCourant?.avatar">
        <h2>{{utilisateurCourant?.nom}} {{utilisateurCourant?.prenom}}</h2>
      </div>
    </div>
    <nav>
      <mat-list>
        <button mat-button class="mask-btn"></button>
        <mat-list-item>
          <!--routerLinkActive="active"-->
          <button mat-button mat-line routerLink="/room" (click)="menu.close()">Sujets de Discussion</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button mat-line routerLink="/profile" (click)="menu.close()">Profile</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button mat-line routerLink="/login/disconnect" (click)="menu.close()">Déconnexion</button>
        </mat-list-item>
      </mat-list>
    </nav>
  </mat-sidenav>

  <router-outlet></router-outlet>

  <div class="app-back-drop" *ngIf="isLoading">
  </div>
  <div class="app-loader" *ngIf="isLoading">
    <div></div>
  </div>

</mat-sidenav-container>
